Ref_code/OTScheduling/OTScheduling/Source/Service References/CmnSecurityFunSrvRef/CmnSecurityFun72.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/CWWEBWCFSPLIT/CommonSecurityFunc/CmnSecurityFun.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost/CWWEBWCFSPLIT/CommonSecurityFunc/CmnSecurityFun.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost/CWWEBWCFSPLIT/CommonSecurityFunc/CmnSecurityFun.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CmnSecurityFunSrv" />
  <xs:import schemaLocation="http://localhost/CWWEBWCFSPLIT/CommonSecurityFunc/CmnSecurityFun.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/CmnSecurityFunSrv.CommonModule" />
  <xs:import schemaLocation="http://localhost/CWWEBWCFSPLIT/CommonSecurityFunc/CmnSecurityFun.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/CmnSecurityFunSrv.CareworksSecurity" />
  <xs:import schemaLocation="http://localhost/CWWEBWCFSPLIT/CommonSecurityFunc/CmnSecurityFun.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/CmnSecurityFunSrv.CashDenomination" />
  <xs:element name="GetReportServerUserNamePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="strErrMsg" nillable="true" type="q1:ArrayOfstring" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="chrErrFlg" type="q2:char" />
        <xs:element minOccurs="0" name="CoCd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Div" type="xs:int" />
        <xs:element minOccurs="0" name="Loc" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportServerUserNamePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetReportServerUserNamePasswordResult" nillable="true" type="q3:ArrayOfstring" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="strErrMsg" nillable="true" type="q4:ArrayOfstring" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="chrErrFlg" type="q5:char" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNetIdDetailsWithForReportPath">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="strErrMsg" nillable="true" type="q6:ArrayOfstring" />
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="chrErrFlg" type="q7:char" />
        <xs:element minOccurs="0" name="companycode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="div" type="xs:int" />
        <xs:element minOccurs="0" name="loc" type="xs:int" />
        <xs:element minOccurs="0" name="UserINetid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNetIdDetailsWithForReportPathResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CmnSecurityFunSrv" minOccurs="0" name="GetNetIdDetailsWithForReportPathResult" nillable="true" type="q8:clsNetId" />
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="strErrMsg" nillable="true" type="q9:ArrayOfstring" />
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="chrErrFlg" type="q10:char" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNetIdDetailsWithModuleName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="strErrMsg" nillable="true" type="q11:ArrayOfstring" />
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="chrErrFlg" type="q12:char" />
        <xs:element minOccurs="0" name="CoCd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Div" type="xs:int" />
        <xs:element minOccurs="0" name="Loc" type="xs:int" />
        <xs:element minOccurs="0" name="UserINetid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNetIdDetailsWithModuleNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/CmnSecurityFunSrv" minOccurs="0" name="GetNetIdDetailsWithModuleNameResult" nillable="true" type="q13:clsNetId" />
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="strErrMsg" nillable="true" type="q14:ArrayOfstring" />
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="chrErrFlg" type="q15:char" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertYYYYMMDDToSQLDatetime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="yyyymmdd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hhmm" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertYYYYMMDDToSQLDatetimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConvertYYYYMMDDToSQLDatetimeResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertSQLDatetimeToYYYYMMDD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sqldate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertSQLDatetimeToYYYYMMDDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConvertSQLDatetimeToYYYYMMDDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerDateTime">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerDateTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetServerDateTimeResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRevenueDate">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRevenueDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRevenueDateResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRevenueDateDL">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="strErrMsg" nillable="true" type="q16:ArrayOfstring" />
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="chrErrFlg" type="q17:char" />
        <xs:element minOccurs="0" name="cocd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="divcd" type="xs:int" />
        <xs:element minOccurs="0" name="loccd" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRevenueDateDLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRevenueDateDLResult" type="xs:dateTime" />
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="strErrMsg" nillable="true" type="q18:ArrayOfstring" />
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="chrErrFlg" type="q19:char" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGenderName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="strErrMsg" nillable="true" type="q20:ArrayOfstring" />
        <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="chrErrFlg" type="q21:char" />
        <xs:element minOccurs="0" name="cocd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="divcd" type="xs:int" />
        <xs:element minOccurs="0" name="loccd" type="xs:int" />
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="Gender" type="q22:char" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGenderNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetGenderNameResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q23="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="strErrMsg" nillable="true" type="q23:ArrayOfstring" />
        <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="chrErrFlg" type="q24:char" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinancialYr">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cocd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="divcd" type="xs:int" />
        <xs:element minOccurs="0" name="loccd" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinancialYrResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFinancialYrResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrancy">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="strErrMsg" nillable="true" type="q25:ArrayOfstring" />
        <xs:element xmlns:q26="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="chrErrFlg" type="q26:char" />
        <xs:element minOccurs="0" name="cocd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="divcd" type="xs:int" />
        <xs:element minOccurs="0" name="loccd" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrancyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCurrancyResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q27="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="strErrMsg" nillable="true" type="q27:ArrayOfstring" />
        <xs:element xmlns:q28="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="chrErrFlg" type="q28:char" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdmissionDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pcompanycode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pdiv" type="xs:int" />
        <xs:element minOccurs="0" name="ploc" type="xs:int" />
        <xs:element minOccurs="0" name="pipno" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdmissionDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAdmissionDateResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChkSysLock">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="strErrMsg" nillable="true" type="q29:ArrayOfstring" />
        <xs:element xmlns:q30="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="chrErrFlg" type="q30:char" />
        <xs:element minOccurs="0" name="pcompanycode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pdiv" type="xs:int" />
        <xs:element minOccurs="0" name="ploc" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChkSysLockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChkSysLockResult" type="xs:boolean" />
        <xs:element xmlns:q31="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="strErrMsg" nillable="true" type="q31:ArrayOfstring" />
        <xs:element xmlns:q32="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="chrErrFlg" type="q32:char" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCalRate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="strErrMsg" nillable="true" type="q33:ArrayOfstring" />
        <xs:element xmlns:q34="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="chrErrFlg" type="q34:char" />
        <xs:element minOccurs="0" name="pcompanycode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pdiv" type="xs:int" />
        <xs:element minOccurs="0" name="ploc" type="xs:int" />
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/CmnSecurityFunSrv.CommonModule" minOccurs="0" name="objcalRate" nillable="true" type="q35:clsCalRate" />
        <xs:element minOccurs="0" name="EmergencyFlg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCalRateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/CmnSecurityFunSrv.CommonModule" minOccurs="0" name="GetCalRateResult" nillable="true" type="q36:clsCalRate" />
        <xs:element xmlns:q37="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="strErrMsg" nillable="true" type="q37:ArrayOfstring" />
        <xs:element xmlns:q38="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="chrErrFlg" type="q38:char" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCalShare">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="strErrMsg" nillable="true" type="q39:ArrayOfstring" />
        <xs:element xmlns:q40="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="chrErrFlg" type="q40:char" />
        <xs:element minOccurs="0" name="pcompanycode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pdiv" type="xs:int" />
        <xs:element minOccurs="0" name="ploc" type="xs:int" />
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/CmnSecurityFunSrv.CommonModule" minOccurs="0" name="objCalShare" nillable="true" type="q41:clsCalShare" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCalShareResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/CmnSecurityFunSrv.CommonModule" minOccurs="0" name="GetCalShareResult" nillable="true" type="q42:clsCalShare" />
        <xs:element xmlns:q43="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="strErrMsg" nillable="true" type="q43:ArrayOfstring" />
        <xs:element xmlns:q44="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="chrErrFlg" type="q44:char" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalCompanyScheme">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="strErrMsg" nillable="true" type="q45:ArrayOfstring" />
        <xs:element xmlns:q46="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="chrErrFlg" type="q46:char" />
        <xs:element minOccurs="0" name="cocd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="div" type="xs:int" />
        <xs:element minOccurs="0" name="loc" type="xs:int" />
        <xs:element minOccurs="0" name="ArCd" type="xs:int" />
        <xs:element minOccurs="0" name="ChrgCd" type="xs:int" />
        <xs:element minOccurs="0" name="SrvCd" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalCompanySchemeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CalCompanySchemeResult" type="xs:int" />
        <xs:element xmlns:q47="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="strErrMsg" nillable="true" type="q47:ArrayOfstring" />
        <xs:element xmlns:q48="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="chrErrFlg" type="q48:char" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowDenominationScreen">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="strErrMsg" nillable="true" type="q49:ArrayOfstring" />
        <xs:element xmlns:q50="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="chrErrFlg" type="q50:char" />
        <xs:element minOccurs="0" name="companycode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="div" type="xs:int" />
        <xs:element minOccurs="0" name="loc" type="xs:int" />
        <xs:element minOccurs="0" name="ModCd" type="xs:int" />
        <xs:element minOccurs="0" name="SubModCd" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowDenominationScreenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ShowDenominationScreenResult" type="xs:boolean" />
        <xs:element xmlns:q51="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="strErrMsg" nillable="true" type="q51:ArrayOfstring" />
        <xs:element xmlns:q52="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="chrErrFlg" type="q52:char" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetmsgmstList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="strErrMsg" nillable="true" type="q53:ArrayOfstring" />
        <xs:element xmlns:q54="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="chrErrFlg" type="q54:char" />
        <xs:element minOccurs="0" name="companycode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="div" type="xs:int" />
        <xs:element minOccurs="0" name="loc" type="xs:int" />
        <xs:element minOccurs="0" name="modcd" type="xs:int" />
        <xs:element minOccurs="0" name="submodcd" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetmsgmstListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/CmnSecurityFunSrv" minOccurs="0" name="GetmsgmstListResult" nillable="true" type="q55:ArrayOfclsMsgMst" />
        <xs:element xmlns:q56="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="strErrMsg" nillable="true" type="q56:ArrayOfstring" />
        <xs:element xmlns:q57="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="chrErrFlg" type="q57:char" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCashDenomination">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="strErrMsg" nillable="true" type="q58:ArrayOfstring" />
        <xs:element xmlns:q59="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="chrErrFlg" type="q59:char" />
        <xs:element minOccurs="0" name="companycode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="div" type="xs:int" />
        <xs:element minOccurs="0" name="loc" type="xs:int" />
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/CmnSecurityFunSrv" minOccurs="0" name="objclsCurDenom" nillable="true" type="q60:clsCurDenom" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCashDenominationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveCashDenominationResult" type="xs:boolean" />
        <xs:element xmlns:q61="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="strErrMsg" nillable="true" type="q61:ArrayOfstring" />
        <xs:element xmlns:q62="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="chrErrFlg" type="q62:char" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinancialYrBetweenDt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="strErrMsg" nillable="true" type="q63:ArrayOfstring" />
        <xs:element xmlns:q64="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="chrErrFlg" type="q64:char" />
        <xs:element minOccurs="0" name="Cocd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DivCd" type="xs:int" />
        <xs:element minOccurs="0" name="LocCd" type="xs:int" />
        <xs:element minOccurs="0" name="Dt" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Year" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinancialYrBetweenDtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFinancialYrBetweenDtResult" type="xs:boolean" />
        <xs:element xmlns:q65="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="strErrMsg" nillable="true" type="q65:ArrayOfstring" />
        <xs:element xmlns:q66="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="chrErrFlg" type="q66:char" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunctionAccessDtl">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="strErrMsg" nillable="true" type="q67:ArrayOfstring" />
        <xs:element xmlns:q68="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="chrErrFlg" type="q68:char" />
        <xs:element minOccurs="0" name="CoCd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Div" type="xs:int" />
        <xs:element minOccurs="0" name="Loc" type="xs:int" />
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/CmnSecurityFunSrv.CareworksSecurity" minOccurs="0" name="obj" nillable="true" type="q69:ArrayOfFunctionAccessDtl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FunctionAccessDtlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/CmnSecurityFunSrv.CareworksSecurity" minOccurs="0" name="FunctionAccessDtlResult" nillable="true" type="q70:ArrayOfFunctionAccessDtl" />
        <xs:element xmlns:q71="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="strErrMsg" nillable="true" type="q71:ArrayOfstring" />
        <xs:element xmlns:q72="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="chrErrFlg" type="q72:char" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccessModCd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/CmnSecurityFunSrv" minOccurs="0" name="x" type="q73:clsMainModule.AccessModCode" />
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/CmnSecurityFunSrv" minOccurs="0" name="y" type="q74:clsMainModule.AccessSubModCd" />
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/CmnSecurityFunSrv" minOccurs="0" name="z" type="q75:CmnSecurityFun.Functionality" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccessModCdResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNetIdDetByModCdSubModCd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="strErrMsg" nillable="true" type="q76:ArrayOfstring" />
        <xs:element xmlns:q77="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="chrErrFlg" type="q77:char" />
        <xs:element minOccurs="0" name="CoCd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Div" type="xs:int" />
        <xs:element minOccurs="0" name="Loc" type="xs:int" />
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/CmnSecurityFunSrv" minOccurs="0" name="Modcd" type="q78:clsMainModule.AccessModCode" />
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/CmnSecurityFunSrv" minOccurs="0" name="SubModCd" type="q79:clsMainModule.AccessSubModCd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNetIdDetByModCdSubModCdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/CmnSecurityFunSrv" minOccurs="0" name="GetNetIdDetByModCdSubModCdResult" nillable="true" type="q80:clsNetId" />
        <xs:element xmlns:q81="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="strErrMsg" nillable="true" type="q81:ArrayOfstring" />
        <xs:element xmlns:q82="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="chrErrFlg" type="q82:char" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNetIdDetByModCdSubModCdReq">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="strErrMsg" nillable="true" type="q83:ArrayOfstring" />
        <xs:element xmlns:q84="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="chrErrFlg" type="q84:char" />
        <xs:element minOccurs="0" name="CoCd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Div" type="xs:int" />
        <xs:element minOccurs="0" name="Loc" type="xs:int" />
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/CmnSecurityFunSrv" minOccurs="0" name="Modcd" type="q85:clsMainModule.AccessModCode" />
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/CmnSecurityFunSrv" minOccurs="0" name="SubModCd" type="q86:clsMainModule.AccessSubModCd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNetIdDetByModCdSubModCdReqResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/CmnSecurityFunSrv" minOccurs="0" name="GetNetIdDetByModCdSubModCdReqResult" nillable="true" type="q87:clsNetId" />
        <xs:element xmlns:q88="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="strErrMsg" nillable="true" type="q88:ArrayOfstring" />
        <xs:element xmlns:q89="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="chrErrFlg" type="q89:char" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserRights">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="strErrMsg" nillable="true" type="q90:ArrayOfstring" />
        <xs:element xmlns:q91="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="chrErrFlg" type="q91:char" />
        <xs:element minOccurs="0" name="Cocd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="div" type="xs:int" />
        <xs:element minOccurs="0" name="loc" type="xs:int" />
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ModCd" type="xs:int" />
        <xs:element minOccurs="0" name="SubModCd" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserRightsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserRightsResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q92="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="strErrMsg" nillable="true" type="q92:ArrayOfstring" />
        <xs:element xmlns:q93="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="chrErrFlg" type="q93:char" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelDoctorFeeSource">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="strErrMsg" nillable="true" type="q94:ArrayOfstring" />
        <xs:element xmlns:q95="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="chrErrFlg" type="q95:char" />
        <xs:element minOccurs="0" name="cocd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="div" type="xs:int" />
        <xs:element minOccurs="0" name="loc" type="xs:int" />
        <xs:element minOccurs="0" name="DocCd" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelDoctorFeeSourceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/CmnSecurityFunSrv" minOccurs="0" name="SelDoctorFeeSourceResult" nillable="true" type="q96:ArrayOfclsCodeDecode" />
        <xs:element xmlns:q97="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="strErrMsg" nillable="true" type="q97:ArrayOfstring" />
        <xs:element xmlns:q98="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="chrErrFlg" type="q98:char" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepositsType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="strErrMsg" nillable="true" type="q99:ArrayOfstring" />
        <xs:element xmlns:q100="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="chrErrFlg" type="q100:char" />
        <xs:element minOccurs="0" name="pcompanycode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pdiv" type="xs:int" />
        <xs:element minOccurs="0" name="ploc" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepositsTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/CmnSecurityFunSrv" minOccurs="0" name="GetDepositsTypeResult" nillable="true" type="q101:ArrayOfclsDepositTypeMst" />
        <xs:element xmlns:q102="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="strErrMsg" nillable="true" type="q102:ArrayOfstring" />
        <xs:element xmlns:q103="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="chrErrFlg" type="q103:char" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DepositTypeByCd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="strErrMsg" nillable="true" type="q104:ArrayOfstring" />
        <xs:element xmlns:q105="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="chrErrFlg" type="q105:char" />
        <xs:element minOccurs="0" name="cocd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="div" type="xs:int" />
        <xs:element minOccurs="0" name="loc" type="xs:int" />
        <xs:element minOccurs="0" name="DepTypCd" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DepositTypeByCdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/CmnSecurityFunSrv" minOccurs="0" name="DepositTypeByCdResult" nillable="true" type="q106:clsDepositTypeMst" />
        <xs:element xmlns:q107="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="strErrMsg" nillable="true" type="q107:ArrayOfstring" />
        <xs:element xmlns:q108="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="chrErrFlg" type="q108:char" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCodeDeCodeDtlByTypByCd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="strErrMsg" nillable="true" type="q109:ArrayOfstring" />
        <xs:element xmlns:q110="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="chrErrFlg" type="q110:char" />
        <xs:element minOccurs="0" name="cocd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="div" type="xs:int" />
        <xs:element minOccurs="0" name="loc" type="xs:int" />
        <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/CmnSecurityFunSrv" minOccurs="0" name="typ" type="q111:EnumCodeDecode" />
        <xs:element minOccurs="0" name="Cd" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCodeDeCodeDtlByTypByCdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/CmnSecurityFunSrv" minOccurs="0" name="GetCodeDeCodeDtlByTypByCdResult" nillable="true" type="q112:clsCodeDecode" />
        <xs:element xmlns:q113="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="strErrMsg" nillable="true" type="q113:ArrayOfstring" />
        <xs:element xmlns:q114="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="chrErrFlg" type="q114:char" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCashDenomControl">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCashDenomControlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q115="http://schemas.datacontract.org/2004/07/CmnSecurityFunSrv.CashDenomination" minOccurs="0" name="GetCashDenomControlResult" nillable="true" type="q115:CashDenomControl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBedTypeList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q116="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="strErrMsg" nillable="true" type="q116:ArrayOfstring" />
        <xs:element xmlns:q117="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="chrErrFlg" type="q117:char" />
        <xs:element minOccurs="0" name="pcompanycode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pdiv" type="xs:int" />
        <xs:element minOccurs="0" name="ploc" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBedTypeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q118="http://schemas.datacontract.org/2004/07/CmnSecurityFunSrv" minOccurs="0" name="GetBedTypeListResult" nillable="true" type="q118:ArrayOfclsBedTypeMaster" />
        <xs:element xmlns:q119="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="strErrMsg" nillable="true" type="q119:ArrayOfstring" />
        <xs:element xmlns:q120="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="chrErrFlg" type="q120:char" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WardDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q121="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="strErrMsg" nillable="true" type="q121:ArrayOfstring" />
        <xs:element xmlns:q122="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="chrErrFlg" type="q122:char" />
        <xs:element minOccurs="0" name="cocd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="div" type="xs:int" />
        <xs:element minOccurs="0" name="loc" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WardDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q123="http://schemas.datacontract.org/2004/07/CmnSecurityFunSrv" minOccurs="0" name="WardDetailsResult" nillable="true" type="q123:ArrayOfclsCodeDecode" />
        <xs:element xmlns:q124="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="strErrMsg" nillable="true" type="q124:ArrayOfstring" />
        <xs:element xmlns:q125="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="chrErrFlg" type="q125:char" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCodeDeCodeListForPtnGender">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q126="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="strErrMsg" nillable="true" type="q126:ArrayOfstring" />
        <xs:element xmlns:q127="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="chrErrFlg" type="q127:char" />
        <xs:element minOccurs="0" name="cocd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="div" type="xs:int" />
        <xs:element minOccurs="0" name="loc" type="xs:int" />
        <xs:element xmlns:q128="http://schemas.datacontract.org/2004/07/CmnSecurityFunSrv" minOccurs="0" name="typ" type="q128:EnumCodeDecode" />
        <xs:element minOccurs="0" name="IsBoth" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCodeDeCodeListForPtnGenderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q129="http://schemas.datacontract.org/2004/07/CmnSecurityFunSrv" minOccurs="0" name="GetCodeDeCodeListForPtnGenderResult" nillable="true" type="q129:ArrayOfclsCodeDecode" />
        <xs:element xmlns:q130="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="strErrMsg" nillable="true" type="q130:ArrayOfstring" />
        <xs:element xmlns:q131="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="chrErrFlg" type="q131:char" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetButtonRights">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q132="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="strErrMsg" nillable="true" type="q132:ArrayOfstring" />
        <xs:element xmlns:q133="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="chrErrFlg" type="q133:char" />
        <xs:element minOccurs="0" name="CoCd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Div" type="xs:int" />
        <xs:element minOccurs="0" name="Loc" type="xs:int" />
        <xs:element minOccurs="0" name="ModCd" type="xs:int" />
        <xs:element minOccurs="0" name="SubModCd" type="xs:int" />
        <xs:element minOccurs="0" name="UsrId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetButtonRightsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetButtonRightsResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q134="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="strErrMsg" nillable="true" type="q134:ArrayOfstring" />
        <xs:element xmlns:q135="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="chrErrFlg" type="q135:char" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClncMst">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q136="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="strErrMsg" nillable="true" type="q136:ArrayOfstring" />
        <xs:element xmlns:q137="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="chrErrFlg" type="q137:char" />
        <xs:element minOccurs="0" name="pcompanycode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pdiv" type="xs:int" />
        <xs:element minOccurs="0" name="ploc" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClncMstResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q138="http://schemas.datacontract.org/2004/07/CmnSecurityFunSrv" minOccurs="0" name="GetClncMstResult" nillable="true" type="q138:ArrayOfclsMaster" />
        <xs:element xmlns:q139="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="strErrMsg" nillable="true" type="q139:ArrayOfstring" />
        <xs:element xmlns:q140="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="chrErrFlg" type="q140:char" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCodeDeCodeList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q141="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="strErrMsg" nillable="true" type="q141:ArrayOfstring" />
        <xs:element xmlns:q142="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="chrErrFlg" type="q142:char" />
        <xs:element minOccurs="0" name="cocd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="div" type="xs:int" />
        <xs:element minOccurs="0" name="loc" type="xs:int" />
        <xs:element xmlns:q143="http://schemas.datacontract.org/2004/07/CmnSecurityFunSrv" minOccurs="0" name="typ" type="q143:EnumCodeDecode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCodeDeCodeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q144="http://schemas.datacontract.org/2004/07/CmnSecurityFunSrv" minOccurs="0" name="GetCodeDeCodeListResult" nillable="true" type="q144:ArrayOfclsCodeDecode" />
        <xs:element xmlns:q145="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="strErrMsg" nillable="true" type="q145:ArrayOfstring" />
        <xs:element xmlns:q146="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="chrErrFlg" type="q146:char" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFiledTitleMst">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q147="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="strErrMsg" nillable="true" type="q147:ArrayOfstring" />
        <xs:element xmlns:q148="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="chrErrFlg" type="q148:char" />
        <xs:element minOccurs="0" name="companycode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="div" type="xs:int" />
        <xs:element minOccurs="0" name="loc" type="xs:int" />
        <xs:element xmlns:q149="http://schemas.datacontract.org/2004/07/CmnSecurityFunSrv" minOccurs="0" name="ObjParam" nillable="true" type="q149:clsCwFiledTitleMst" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFiledTitleMstResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q150="http://schemas.datacontract.org/2004/07/CmnSecurityFunSrv" minOccurs="0" name="GetFiledTitleMstResult" nillable="true" type="q150:ArrayOfclsCwFiledTitleMst" />
        <xs:element xmlns:q151="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="strErrMsg" nillable="true" type="q151:ArrayOfstring" />
        <xs:element xmlns:q152="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="chrErrFlg" type="q152:char" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCashTrnLimit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q153="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="strErrMsg" nillable="true" type="q153:ArrayOfstring" />
        <xs:element xmlns:q154="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="chrErrFlg" type="q154:char" />
        <xs:element minOccurs="0" name="companycode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="div" type="xs:int" />
        <xs:element minOccurs="0" name="loc" type="xs:int" />
        <xs:element minOccurs="0" name="ptnno" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCashTrnLimitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q155="http://schemas.datacontract.org/2004/07/CmnSecurityFunSrv" minOccurs="0" name="GetCashTrnLimitResult" nillable="true" type="q155:TrnCshLimit" />
        <xs:element xmlns:q156="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="strErrMsg" nillable="true" type="q156:ArrayOfstring" />
        <xs:element xmlns:q157="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="chrErrFlg" type="q157:char" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>